*{
    font-family: 'Inconsolata', monospace;
}
html{
    scroll-behavior: smooth;
}

.main{
    background: linear-gradient(45deg, #e47fc2, #85c284);
    padding:30px;
}
marquee a{
    text-decoration: none;
    color: #111eac;
}

.text__welecom {
    font-size: 1.5rem;
}

/* INTRO - HEADER */
.header{
    background-image: linear-gradient(to right bottom,rgba(221,238,249,0.7),rgba(188,237,249,0.3));
    display: flex;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
}

.header__left{
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(204, 196, 196);
}
.header__avata {
    display: flex;
    justify-content:center;
}
.header__avata-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius:20px;
    border: 1px solid;
    box-shadow: 0px 5px 5px 1px  rgba(50, 50, 50, 0.402);
}

/* HEADER - LEFT */
.header__left-name {
    font-size: 2rem;
    margin-bottom: 10px;
}
.header__left-discription{
    margin-bottom: 50px;
    font-size:1.2rem;
}
.header__left-icon{
    text-decoration: none;
    font-size: 30px;
    margin-top: 30px;
}
.header__left-icon a {
    text-decoration: none;
    color: #000000;
    margin: 0;
    display: inline-block;
    transform: scale(1);
    transition-duration: 0.4s;
    border: 3px solid white;
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    box-shadow: 0px 5px 5px 1px  rgba(50, 50, 50, 0.402);
    animation:scaleIcon 1s linear infinite;
}
i.fa-brands.fa-facebook-messenger {
    color:royalblue;
}

@keyframes scaleIcon{
    0%   {transform: scale(1.1)}
  20%  {transform: scale(1.12)}
  40%  {transform: scale(1.13)}
  60% {transform: scale(1.15)}
  80% {transform: scale(1.12)}
  100% {transform: scale(1.1)}
}
i.fa-brands.fa-facebook-f{
    color: #0066cc;
}
i.fa-brands.fa-instagram{
    color: #d8534f;
}
i.fa-brands.fa-youtube {
    color: red;
}
i.fa-brands.fa-github {
    color: black;
}
.header__left-icon a:hover{
    border-color: rgb(158 140 140);
}

.header__left-icon-mgt {
    margin-top: 2.5px;
}

/* HEADER - RIGHT */
.header__right{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.header__right-info h3 {
    color:rgb(140, 136, 136);
    margin:21px;
    font-size:1.2rem;
}
.header__right-info p {
    color:rgb(48, 44, 44);
    font-size:16px;
    padding-top: 6px;
    font-size:1.2rem;
}
.header__right-info{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.header__right-info-mg {
    padding-left: 27px;
}
/* CONTAINER - NAV */
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.container__selection{
    background-color:rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    z-index: 1;
}
.container__selection-item{
    background-color:rgba(255, 255, 255, 0.5);
    margin-top:20px;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 5px 5px 1px  rgba(50, 50, 50, 0.402);
    width: 120px;
}
.container__selection-item p{
    font-size: 20px;
}
.container__selection-item:hover{
    background-color: rgb(222, 219, 219);
}
.container__selection-item.active{
    background-color: darkgray;
}
/* CONTAINER-CONTENT */

.lord-icon-mg{
    height: 44px;
    width: 70px
}

.container__content{
    background-color:rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;
    display:none;
    animation:slide 0.5s linear;
}

.title__discriptions-overview {
    height: 115px;
    width: 100%;
    align-items: center;
    display: flex;
}

.title__discriptions-icon {
    margin: 0px 12px;
}

.title__discriptions-icon-item {
    font-size: 1.5rem;
}

.title__discriptions-text {
    margin-left: 10px;
}

.title__discriptions-img {
    position: absolute;
    right: 145px;
}

.title__overview-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 0px 5px 5px 1px rgb(50 50 50 / 40%);
}

.title__overview-text-a {
    opacity: 0.7;
}

.title__overview-text-a:hover {
    color: red;
    opacity: 0.7;
}

.title__overview-text-h4 {
    margin-top: 5px;
}

.title__discriptions-header-footer{
    margin-top: 15px;
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
}

/* CONTAINER - INFOMATION */

.container__content-img.col.l-6.m-6.c-12 {
    display: flex;
}
.container__content-img-item{
    margin-top:40px;
}
.img-link{
    width:90%;
}
.container__content-img img{
    object-fit: contain;
    width:100%;
    border-radius:20px;
    margin-bottom: -3px;
    /* transition-duration: 0.3s; */
    /* margin: 20px 0; */
    /* margin-bottom:10px; */
}
.results-img{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 5px 1px  rgba(50, 50, 50, 0.402);
    border-radius:20px;
}
.display-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-flex h1, span{
    color: #00ffa2;
    font-size: 1.2rem;
}
.source-code a{
    color: rgb(255 0 219);
    font-size: 1.1rem;
    display: block;
    text-align: center;
    margin-top:6px;
    text-decoration: none;
}
.source-code a:hover {
    color: red;
    opacity: 0.8;
}
.container__content-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__content-sub:hover{
    color: red;
    opacity: 0.8;
}
.results-img-hover {
    position: absolute;
    /* top: -100%; */
    bottom: -100%;
    height: 100%;
    left: 0;
    right: 0;
    /* z-index: -1; */
    background-color: rgba(0, 0, 0, 0.716);
    color: rgb(16, 189, 22);
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    transition:0.5s ease;
    border-radius: 20px;
    /* pointer-events: none; */
    /* display:none; */
}


.container__content-img b{
    font-size:1.4rem;
    margin-top:10px;
    margin-bottom: 20px;
    text-align: center;
}

.container__content.active{
    display: block;
    margin-bottom: 20px;
}
.results-img:hover .results-img-hover{
    bottom:0;
}
/* SLIDE - CONTAINER */
.slide__container{
    background-color: #a9a9a9;
    padding:20px;
    margin:20px;
    position: relative;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 5px 5px 1px  rgba(50, 50, 50, 0.402);
    margin-bottom: 20px;
}
.slide__container .slide-left{
    display: block;
    position:absolute;
    left:-38px;
    top:40%;
    border:10px solid white;
    background-color:#fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    opacity: 0.7;
}
.slide__container .slide-right{
    position:absolute;
    display: block;
    right:-38px;
    top:40%;
    border:10px solid white;
    background-color:#fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    opacity: 0.7;
}
.slide-main{
    display:none;
    animation:slide linear 0.3s;
    height: 100%;
    width: 100%;
}
.slide-main img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
@keyframes slide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.slide-main.active{
    display: flex;
}
.slide-img img{
    width:80px;
    height: 80px;
    border-radius: 20px;
    margin: 0 20px;
    object-fit: cover;
}
.slide-dot{
    display: flex;
    position:absolute;
    bottom:-25px;
    margin-left:50%;
    margin-right:50%;
    transform:translateX(-70%) ;
}
.slide-dot-item{
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color:#fff;
    transition-duration: 0.3s;
    margin-left:10px;
}
.slide-dot-item.active{
    background-color:dimgrey;
}
.slide-dot-item:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.slide-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.slide-content p{
    padding:10px 0;
    text-align:left;
}
.slide-content h1{
    font-size:1.6rem;
}
/* CONTAINER EDUCATION */
.container__content-title h1{
    font-size:1.6rem;
    text-align: center;
    font-weight:300;
}
/* CONTAINER TARGET */
.container__target h1{
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;

}

.container__target-ct{
    display: flex;
    justify-content: center;
}

.container__target-content{
    padding: 20px 24px 0px 12px;
}

.content__section-img {
    max-width: 230px;
    height: 110px;
}

.content__section-img-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__section-text {
    height: 240px;
}

.container__target-content-section {
    height: 430px;
    max-width: 230px;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 7px 1px rgb(50 50 50 / 40%);
    background-color: #a9a9a9;
}

.content__section-hr{
    margin: 13px 20px;
    opacity: 0.8;
}

.content__section-img-header {
    width: 100%;
    object-fit: cover;
}

.content-text-sub {
    text-align: center;
    margin: 10px 12px;
}

.content-footer-btn {
    display: flex;
    justify-content: center;

}

.content-btn{
    height: 30px;
    width: 100px;
    background-color: #FFFFFF80;
    border: 1px solid #000000; 
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 5px 1px  rgba(50, 50, 50, 0.402);
}

.content-btn:hover {
    border: 2px solid ;
    background:  linear-gradient(45deg, #e47fc2, #85c284);
}

.content-btn-a{
    padding: 8px;
    text-align: center;
    font-weight: 700;
}

/* CONTAINER-ẸNJOIN */

.enjoin__content {
    display: flex;
    justify-content: space-around;
}

.container__content{
    background-color:rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;
    display:none;
    animation:slide 0.5s linear;
}

.enjoin__header h2 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

.enjoin__content-item{
    height: 430px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 7px 1px rgb(50 50 50 / 40%);
    background-color: #a9a9a9;
}

.enjoin__content-item-text {
    height: 30%;
}

.enjoin__content-item-text h2{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.enjoin__content-item-text h4 {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    text-align: center;
}

.slide__img-enjoin{
    height: 50%;
    background-color: #a9a9a9;
    margin:50px 30px;
    position: relative;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 5px 5px 1px  rgba(50, 50, 50, 0.402);
    margin-bottom: 20px;
}

.slide-dot-enjoin{
    display: flex;
    position:absolute;
    bottom:-25px;
    margin-left:50%;
    margin-right:50%;
    transform:translateX(-50%) ;
}
.slide-dot-item-enjoin{
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color:#fff;
    transition-duration: 0.3s;
    margin-left:10px;
}

.slide-main-enjoin{
    height: 100%;
    width: 100%;
}


.slide-main-enjoin img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
